body {
 background: #E9DAC1;
 color: rgb(50, 50, 50);
 font-family: helvetica;
 font-size: 16px;
}

h1 {
 color: #5C3D2E;
 font-family: 'Roboto', sans-serif;
 font-size: 32px;
}

h2 {
 color: #5C3D2E;
 font-family: 'Lora', serif;
 font-size: 25px;
 font-weight: lighter;
}

a {
 text-decoration: none;
 color: #6F9EAF;
 font-weight: bold;
}

a:hover {
 color: black;
}

.img-circle {
 border-radius: 50%;
}

.logo1 {
 border-radius: 50%;
 width: 200px;
}

.logo2 {
 border-radius: 90%;
 width: 180px;
}

.logo3 {
 border-radius: 80%;
 width: 180px;
 height: 130px;
}

.container {
  width: 750px;
  margin: 40px auto;
}


@media (max-width: 700px) {
  .container {
  width: 550px;
  }
}

@media (max-width: 500px) {
  .container {
  width: 400px;
  }
}

.card-brown {
background-color: white;
padding: 40px;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
border-radius: 8px;
margin: 15px;
text-align: center;
}
.btn-blue {
  background-color: #6F9EAF;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}
.btn-blue:hover {
  background-color: black;
  color: white;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
}

#introduction p {
  margin-bottom: 35px;
}







